<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Bootstrap Modal</h4>
  <button type="button" class="close" aria-label="Close" (click)="closeModal('close')">
    <span aria-hidden="true">×</span>
  </button>
</div>
<div class="modal-body">
  <app-student-form #studentFormComponent [student]="student">

  </app-student-form>
</div>
<div class="modal-footer">
  <button type="submit" class="btn btn-primary" (click)="saveStudent()">update</button>
  <button type="button" class="btn btn-outline-dark" (click)="closeModal('close')">close</button>
</div>
